#image{
    content: "";
    min-height: 100%;
    flex-grow: 1;
    background-image: url('./bballcards.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body, html{
    margin: 0;
    height: 100%;
}

#container{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    
}
#leftside{
    min-height: 100%;
    max-width: 40%;
    flex-grow: 1;

    
}

#rightside{
    background-color: lightgreen;
    flex-grow: 1;
    
    
}